/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@import '@phosphor-icons/web/regular';

@variant dark (&:where(.dark, .dark *));

.mat-icon.ph {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  font-size: 1.25rem;
}
